*.pyc
*~
__pycache__
.venv
.direnv

.coverage
htmlcov

instance/config.ini
instance/database.db
instance/database.db-journal
instance/logs/*.log
instance/temp/*
instance/sde/*

!*.gitkeep

kmstat/static/logo.png