{% extends "base.html.jinja2" %}
{% block title %}无头衔角色认领{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">角色列表</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>角色名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for character in characters %}
                        <tr>
                            <td>{{ character.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}